<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348302758722-k5glhsmjfo8hcrc04jn9ekmusftc484h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348302758722-k5glhsmjfo8hcrc04jn9ekmusftc484h</string>
	<key>API_KEY</key>
	<string>AIzaSyBD3-xqkpANXe2tZYhydMmOQuA2LRE_evQ</string>
	<key>GCM_SENDER_ID</key>
	<string>348302758722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colgiopaulicia.pauliid</string>
	<key>PROJECT_ID</key>
	<string>pauli-id</string>
	<key>STORAGE_BUCKET</key>
	<string>pauli-id.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348302758722:ios:c9b0fe2819ee30b3262edb</string>
</dict>
</plist>